#main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

button {
    border: 0;
    background: none;
}

#left {
    display: grid;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding-left: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-rows: 1fr 3fr 3fr;
}

#userBlock {
    justify-items: start;
}

#userBlock h4 {
    font-size: 20px;
}

#navBlock {
    display: grid;
    grid-template-rows: repeat (5, 1fr);
    gap: 20px;
    padding-bottom: 40px;
    justify-items: start;
}

#projectBlock {
    display: grid;
    grid-template-rows: repeat (5, 1fr);
    gap: 20px;
    justify-items: start;
}

#left button {
    font-size: 18px;
}

#leftAddTasktBtn {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
}

#right {
    display: grid;
    height: 100%;
    padding-left: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: 1fr 4fr 4fr;
}

#today {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* Right Header stuff */
#myProjectsRightHeader {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: 1fr;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

#projectList {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
}

#projectListItem {
    display: grid;
    grid-column-Start: 1;
    grid-column-end: 2;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
    align-self: start;
    padding-top: 10px;
}

#projectEntryCheckbox {
    height: 20px;
    width: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: start;
    justify-self: center;
}

#projectEntryTitle {
    margin: 0;
    padding-left: 4px;
    align-self: center;
}

#projectTime {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    justify-self: start;
    margin: 0;
    font-size: 12px;
    color: green;
    padding-left: 8px;
}

#teamRightHeader {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: 1fr;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

#teamList {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
}

#teamListItem {
    display: grid;
    grid-column-Start: 1;
    grid-column-end: 2;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
    align-self: start;
    padding-top: 10px;
}

#teamEntryCheckbox {
    height: 20px;
    width: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: start;
    justify-self: center;
}

#teamEntryTitle {
    margin: 0;
    padding-left: 4px;
    align-self: center;
}

#teamTime {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    justify-self: start;
    margin: 0;
    font-size: 12px;
    color: green;
    padding-left: 8px;
}